/* opinionated resets */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* for debugging */
* {
  /* outline: 1px solid grey; */
}
body {
  min-height: 100vh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
}
.image-container {
  width: 35%;
  position: relative;
}
.content-container {
  flex: 1;
  background-color: rgb(241, 242, 244);
  overflow: hidden;
}
.header {
  padding: 8rem 7rem 4rem 3rem;
  max-width: 60ch;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.header > p:last-child {
  margin-top: 2rem;
}
.header > p,
.form-container > p {
  margin: 0;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.form-container {
  background-color: white;
  color: rgb(70, 70, 70);
  padding: 2rem 7rem 2rem 3rem;
  -webkit-box-shadow: 3px 6px 14px -7px #000000; 
  box-shadow: 3px 6px 14px -7px #000000;
}
form {
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 80ch;
}
form > div {
  margin-right: 5rem;
  margin-bottom: 2rem;
  flex: 1 0 15rem;
  max-width: 18rem;
  display: flex;
  flex-direction: column;
}
input {
  appearance: none;
  width: 100%;
  height: 2rem;
  margin-top: 0.2rem;
  border: 1px solid rgb(214, 214, 214);
  padding: 0 1rem;
  border-radius: 4px;
  -webkit-box-shadow: inset 5px 5px 13px -9px rgba(0,0,0,0.76);
  box-shadow: inset 5px 5px 13px -9px rgba(0,0,0,0.76);
}
label {
  font-size: 0.9rem;
  color: rgb(70, 70, 70)
}
.footer {
  padding: 2rem 7rem 4rem 3rem;
  max-width: 60ch;
}
button {
  padding: 1rem 3rem;
  color: white;
  background-color: #596D48;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 5px 5px 19px -9px #000000; 
  box-shadow: 5px 5px 19px -9px #000000;
  cursor: pointer;
}
a {
  text-decoration: none;
  color:#596D48
}
div.image-container {
  background-image: 
    url(../images/odin-lined.png),
    url(https://images.unsplash.com/photo-1655480472191-f3ba4a6a2658?auto=format&fit=crop&q=80&w=1976&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center top 10rem, left top;
  background-size: 10rem, 50rem;
}

/* VALIDATIONS */
input::placeholder {
  color: rgb(170, 170, 170);
}
input:valid {
  outline: none;
  border: 1px solid #97cb69;
}
input:invalid {
  border: 1px solid rgb(216, 42, 42);
}
span {
  position: relative;
}
input:invalid + span::after {
  position: absolute;
  top: 3px;
  color: rgb(216, 42, 42);
  font-size: 0.8rem;
}
input:placeholder-shown + span::after {
  content: "required";
}
input[type="text"]:invalid:not(:placeholder-shown) + span::after {
  content: "alphabetical characters only!";
}
input[type="email"]:invalid:not(:placeholder-shown) + span::after {
  content: "email must be in proper form";
}
input[type="tel"]:invalid:not(:placeholder-shown) + span::after {
  content: "must include 10 digits";
}
input[type="password"]:invalid:not(:placeholder-shown) + span::after {
  content: "must be between 6-20 characters";
}
input:focus + span::after {
  content: "" !important;
}
